:root {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

nav {
    max-width: 90%;
    height: 4rem;
    background: #eee;
    display: flex;
}

nav a {
    text-decoration: none;
    font-size: 1.5rem;
    color: #969191;
    flex: 1;
    display:flex;
    justify-content: center;
    align-items: center;
}
nav a:hover {
    background: #757070;
    color: #f8eeee;
}